@mixin container-fluid{
	padding-right: 100px;
    padding-left: 100px;
}

.home { 
  .topdiv {
    height: 600px;
    background-color: rgb(56, 57, 77);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    @include container-fluid;

      .carousel {
        display: flex;
        align-items: center;
        width: 55%;
        height: 100%;
      }
      .matchesTable {
        width: 45%;
        display: flex;
        justify-content: center;
      }
  
  }
  .lastnews {

      height: 800px;
      background-color: #ffbf2a;
      display: grid;
      grid-template-columns:1fr 1fr 1fr ;
      row-gap: 0px; 
    .lastnew{ 
        display: flex;
        justify-content: center; 
        margin-top: 20px;
        .newcontent{    
            height: 310px;
            width: 85%;
            img{ 
              height: 95%;
              width: 100%;
            }
            
        }
    }
  }
}
