.standingsContainer{
    height: 900px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../public/stad.jpg");
    background-size: 100% 900px;
    .standings{
        .table{
        height: 700px;
         width: 600px;   
         text-align: center;
        }
    }
}